

<table style="border-width: 1">
  <tr>
    <td colspan="2" style="text-align:center">
      <h1 style="text-decoration:underline">View The Malls</h1>
      <% if params[:city] %>
          <%=params[:city]%>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h2 style="text-decoration:underline">MAJOR MALLS</h2>
    </td>
    <td>
      <h2 style="text-decoration:underline">PLAZA MALLS</h2>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <%
           @major_malls = @shopping_malls.where(" mall_type_id = 1")
           @major_malls.each do |shopping_mall|
        %>
            <tr>
              <td>
                <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table>
        <%
           @plaza_malls = @shopping_malls.where(" mall_type_id = 2")
           @plaza_malls.each do |shopping_mall|
        %>
            <tr>
              <td>
                <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>

</table>


<br/>

<%= link_to 'New Shopping mall', new_shopping_mall_path %>
