<% width=450
   height = (width*0.66).round(0) %>
<h3>View <%=@shopping_mall.name%> </h3>
<div class="row-fluid">
  <div class="span3" style="background-color: #A3D1FF">
    <div>

    </div>
    <div>
      <% if @shopping_mall.image.to_s != ''  %>
          <%=image_tag(@shopping_mall.image.to_s, :style => "width:100%") %>
      <% else %>
          <%=image_tag("/images/dummy.jpeg", :height=>height, :width => width) %>
      <% end %>
    </div>
  </div>
  <div class="span9">

    <div class="row-fluid">
      <div class="span12 container" style="background-color: skyblue">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">View All: Ads</a></li>
          <li><a href="#">Sales-Deals-Flyers-Coupans-Group Buy</a></li>
        </ul>
            <%= render :partial => "shopping_malls/mall_ads_slider", :locals => {:shopping_mall => @shopping_mall} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 container" style="background-color: skyblue">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">View All: Categories</a></li>
          <li><a href="#">Sales-Deals-Flyers-Coupans-Group Buy</a></li>
        </ul>
        <h4>Hello all about ads</h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 container" style="background-color: skyblue">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">View All: Businesses</a></li>
          <li><a href="#">Sales-Deals-Flyers-Coupans-Group Buy</a></li>
        </ul>
        <h4>Hello all about ads</h4>
      </div>
    </div>
  </div>
</div>

