<div class="row-fluid" style="">
    <div class="button-group" style="margin: 0px 0px;">
      <a href="#" class="btn btn-success small">MORE ADS <i class="icon-white icon-plus-sign"></i></a>
      <a href="#" class="btn btn-info btn-mini">PRINT <i class="icon-white icon-print"></i></a>
      <a href="#" class="btn btn-info btn-mini">MAP <i class="icon-white icon-map-marker"></i></a>
      <a href="#" class="btn btn-info btn-mini">SHARE <i class="icon-white icon-share"></i></a>
      <a href="#" class="btn btn-info btn-mini">SAVE <i class="icon-white icon-download-alt"></i></a>
      <a href="#" class="btn btn-info btn-mini">NOTE <i class="icon-white icon-flag"></i></a>
      <a href="#" class="btn btn-info btn-mini">NOTIFY <i class="icon-white icon-inbox"></i></a>
      <a href="#" class="btn btn-info btn-mini">CALL<i class="icon-white icon-comment"></i></a>
  </div>
</div>