<div class="row-fluid" style="">
    <div class="button-group" style="margin: 0px 0px;">
      <a href="#" class="btn btn-success small" style="color: #ffffff">MORE ADS <i class="icon-white icon-plus-sign"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">PRINT <i class="icon-white icon-print"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">MAP <i class="icon-white icon-map-marker"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">SHARE <i class="icon-white icon-share"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">SAVE <i class="icon-white icon-download-alt"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">NOTE <i class="icon-white icon-flag"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">NOTIFY <i class="icon-white icon-inbox"></i></a>
      <a href="#" class="btn btn-info btn-mini" style="color: #ffffff">CALL <i class="icon-white icon-comment"></i></a>
  </div>
</div>