
<%= will_paginate @ads %>
<% begin
     if index_scope == "creator" && user_signed_in?
       #puts "ad index scope #{index_scope}  ,  #{current_user.id}"
     else
       #puts "ad index scope is chosen PUBLIC"
%>
        <%= render :partial =>"ads/ad_search"%>
    <% end
       rescue NameError
         #puts "ad index scope is chosen PUBLIC"
       end
    %>


<div class="row-fluid">

  <%  @xloopvar = 0
      @items_per_list = 2
      @ads.each do |ad|
        @xloopvar +=1
  %>
       <% if ((@xloopvar -1)%@items_per_list )==0 %>
          <div class="row-fluid">
      <%end %>

            <%= render :partial => "ads/ad_detailed_thumbnail", :locals => {:ad => ad} %>

            <% if (@xloopvar%@items_per_list !=0)
                 next
               else %>
                </div><!--/row-fluid-->
            <%end
              end %>

            <% if ((@xloopvar)%@items_per_list )!=0 %>
                </div><!--/row-fluid-->
            <% end %>

  </div>

<div class="cleared"></div>
<%= will_paginate @ads %>

