            <div id="ads">
              <% @ads = Ad.where("user_id = ? ", current_user.id).paginate(:per_page => 8, :page => params[:page]) %>
              <%= render :partial => 'ads/ads' , :locals => {:index_scope => "creator" , :ads => @ads }%>
            </div>
