<br/>
<br/>
<br/>
<p id="notice"><%= notice %></p>
<table>
  <tbody>
      <td>
        <%= render :partial => "ads/ad_content" , :locals => { :display_mode => "detailed", :ad => @ad}  %>
      </td>

      <td>
        <%= render "ad_associated" %>
      </td>
  </tbody>
</table>

