<div class="container" style="padding: 20px">
  <div class="row-fluid">
      <div class="span4 offset3 text-center">
        <div class="row-fluid">
          <span style="text-align: center; font-size: 24px; text-decoration: underline; padding-top: 10px">BUSINESS HIRING</span>
        </div>
        <div class="row-fluid">
          <span style="text-align: center; font-size: 16px; font-weight: bolder">JOB LISTINGS</span>
        </div>
    </div>
  </div>
  <div class="row-fluid" style="padding: 20px">
    <div class="span2">
      <div class="row-fluid">
        <span style="text-align: center; font-size: 16px; font-weight: bolder ">
          Job Links
        </span>
      </div>
      <div class="row-fluid">
        <span style="text-align: center; font-size: 10px; ">
          (Outside of Bizlocator)
        </span>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="span3">
          <span style="text-align: center; font-size: 16px; font-weight: bold ">
            BUSINESS
          </span>
        </div>
        <div class="span6">
          <span style="text-align: center; font-size: 16px; font-weight: bold ">
            JOB TITLE/DESCRIPTION
          </span>
        </div>
      </div>
      <div class="row-fluid">
        <% @jobs.each do |job| %>
            <%= render :partial =>"jobs/business_hiring_item" , :locals => { :job => job } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
