
<div class="row-fluid text-center ad-category-header">
    <span>
        ALL CATEGORIES
    </span>
</div>

<div class="row-fluid  text-center ad-category-header-index">
    <span style="border-style: solid; border-width: 1px;">
       <% ('A'..'Z').each do |char| %>
          <% if char==params[:char] %>
              <%= link_to char, ad_categories_path(:char => char), :class => 'selected_char' %>
          <% else %>
              <%= link_to char, ad_categories_path(:char => char) %>
          <% end %>
      <% end %>
      <%= link_to "ALL", ad_categories_path %>
    </span>
</div>



    <%     @ad_categories = @ad_categories.where(" ( trim(parent_category_id) ='' or  parent_category_id is null)")

           @ad_categories.each do |ad_category| %>
            <div class="row-fluid ad_category">
              <%= render :partial =>"ad_categories/ad_category_box_general", :locals => {:ad_category => ad_category} %>
              <div style="clear: both"></div>
            </div>
            <div class="row-fluid">
              <span>&nbsp;</span>
            </div>
    <% end %>

<br/>



