// Place all the styles related to the AdCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ad_category box

//table{
////  border-style:solid;
////  border-width: 1px;
////  border-color: #000000;
//  padding: 3px;
//  width:100%;
//  height:100%;
//}
//td    {
////  border-style:solid;
////  border-width: 1px;
////  border-color: #000000;
//  padding: 3px;
//  font-size: 14px;
//}

////ad_category box general
//table{
////  border-style:solid;
////  border-width: 1px;
////  border-color: #000000;
//  padding: 3px;
//  width:100%;
//  height:100%;
//}
//td    {
////  border-style:solid;
////  border-width: 1px;
////  border-color: #000000;
//  padding: 3px;
//  font-size: 14px;
//}


.ad-category-header{
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ad-category-header-index{
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.ad-category-char-index-box
{
  font-family: Arial, 'Arial Unicode MS';
  font-size: 28px;
  line-height: 32px;
  height: 108px;
  border: 2px solid #22367C;
  background: #A8DBEB;
  color: #22367C;
}

.ad-category-char-index-header
{
  padding: 10px 0px;
}

.ad-category-char-index-header-title a{
  text-decoration: underline;
  font-weight: bold

  }
.ad-category-char-index-header-title a{
  color: #22367C;
}

.ad-category-char-index-header-title a:hover{
  color: #22367C;
}

.ad-category-char-index-header-title a:visited
{
  color: #22367C;
}

.ad-category-char-index-list
{
  background: #22367C;
  color: #ffffff;
  height: 40px;
  margin:10px;
  padding: 5px 20px;
}

.ad-category-char-index-list a{
  background: #22367C;
  color: #D4E7F9;
}

.ad-category-char-index-list a:visited{
  background: #22367C;
  color: #D4E7F9;
}

.ad-category-char-index-list a:hover{
  background: #D4E7F9;
  color: #22367C;
  text-decoration: none;
}

.ad-category-title-header{
  background: #22367C;
  color: #ffffff;
  font-family: Arial, 'Arial Unicode MS';
  font-size: 28px;
  line-height: 32px;
  border: 2px solid #22367C;
  padding: 10px 0px;
}

.ad-category-box{
  margin:0px;
  font-size: 14px;
  font-family: Arial, 'Arial Unicode MS';
  background: #A8DBEB;
  color: #22367C;

}

.ad-category-box h3{
  font-size: 18px;
}

.notify_me_button{
  background: #22367C;
  color: #D4E7F9;
//  color: #FFFFFF;
  border: medium none;
  border-radius: 2px;
//  height: 30px;
//  width: 120px; !IMPORTANT
}

.sub-category-box{
  border: 1px solid #22367C;
  background: #E8E7E2;
  font-size: 14px;
  font-family: Arial, 'Arial Unicode MS';
  height: 32px;
line-height: 30px;
  text-wrap: suppress;
  width: 19.8%;
  float: left;
}

.more-category-box{
  border: 1px solid #22367C;
  background: #E8E7E2;
  padding: 5px;
 }

.sub-category-row{
  width: 90%;
  margin: 0px
}

.more-category-div{
  border: 1px solid #22367C;
  border-radius: 5px;
  color: #22367C;
  font-size: 1em;
//  font-weight: bold;
  height: 51px;
  overflow: hidden;
  text-overflow: clip;
  background: #E8E7E2;
  padding: 5px;
}

.more-category-div a {
  color: #22367C;
}

.more-category-div a:visited {
  color: #22367C;
}

.more-category-div a:hover {
  color: #22367C;
  background: #E8E7E2;
}

input{
  vertical-align: -2px;
}
