/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

@media all and (max-width: 4200px)
{
    .top_bar{
        color: #22367C;
    }


    .top_bar a{
        color: #22367C;
    }


    .top_bar a:visited{
        color: #22367C;
    }

    .main-nav-bar{
        /*width:78%;*/
        float: right;
        list-style:none;
        font-size:0.750em;
        color:#000000;
        width:100%
    }

    .main-nav-bar a{
        color: #ffffff;
    }

    .main-nav-bar a:visited{
        color: #ffffff;
    }

    .main-nav-bar a:hover{
        color: #ffffff;
    }

    .main-nav-bar ul{
        width:100%;
        margin:0 auto 0 auto;
    }

    .main-nav-bar ul li {
        background-color:#22367C  ;
        float:left;
        padding:0 5px 0 5px;
        border:1px solid #A8DBEB;
        height:20px;
        list-style:none;
        display:block;
        line-height:20px;
        text-align:center;
        cursor:pointer;
        width: 12%;
    }

    .main-nav-bar ul li:hover {
         background-color: #CCC;
         color:#22367C;
     }

    .main-nav-bar ul li:hover a{
        background-color: #CCC;
        color:#22367C;
        text-decoration: underline;
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }

    .main-nav-bar ul li a{
        color:#ffffff;
    }


    .main-nav-bar ul li a:hover {
        background-color: #CCC;
        color:#22367C;
    }


    .main_search{
        height: 40px;
        margin: 0 auto;
        position: relative;
        top: 20px;
        left: -20px;
    }

    .main_search .search_button{
        background-color: #22367C;
        border: medium none;
        border-radius: 6px;
        color: #FFFFFF;
        height: 30px;
        margin-bottom: auto;
        margin-left: -3px;
        font-weight: bold;
        width: 20%;
    }

    .main_search .search_text_field{
        width:70%;
        margin-top:10px;
    }


    .second-nav-bar {

        /*border: 2px 0px  2px 2px solid #22367C;*/
        float: right;
        list-style:none;
        color:#000000;
        position: relative;
        width:100%;

    }

    .second-nav-bar ul{
        width:100%;
        margin:0 auto 0 auto;
    }



    .second-nav-bar ul li {
        background-color: #D4E7F9;
        float: left;
        color: #22367C;
        border: 1px solid #22367C;
        height: 20px;
        list-style: none;
        display: table-cell;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        font-size:1em;
        /*font-size: 13px;*/
        font-weight: bold;
        /*width: 146px;*/
    }

    .second-nav-bar ul li a:hover {
        background-color: transparent;
        color:#22367C;
    }

    .second-nav-bar ul li:hover {
        background-color: transparent;
        color:#22367C;
        text-decoration: underline;
    }

    .second-nav-bar ul li a{
        background-color: transparent;
        color:#22367C;
    }

    .second-nav-bar ul li.active_link {
        background-color: #E8E7E2;
        color:#22367C;
    }

    li.active_link {
        background-color: #E8E7E2;
        color:#22367C;
    }

    .carousel-control-ql{
        /*top: 5%;*/
        text-align: center;
        background-color:#22367C;
        color: #ffffdd;
        font-size:large;
        font-weight: bold
    }

    .carousel-control-ql img{
        width: 58px;
        height: 16px;
        background-color:#22367C;
    }

    .carousel-control-ql a{
        background-color:#22367C;
    }

    .carousel-control-ql a:hover{
        background-color:#22367C;
    }

    .carousel-control-ql a:visited{
        background-color:#22367C;
    }

    .quick_link_bar{
        width:100%;
        float: none;
        list-style:none;
        color:#22367C;
    }

    .quick_link_bar ul{
        width:100%;
        margin:0 auto 0 auto;
    }

    .quick_link_bar ul li {
        background-color:#D4E7F9;
        float:none;
        color:#0088CC;
        height:20px;
        list-style:none;
        display:block;
        text-align:center;
        font-size: 12px;
        margin-top: 10px;
        border:thin solid #22367C;
    }

    .quick_link_bar ul li:hover {
        color:#22367C;
        background-color:#CCC;
    }

    .quick_link_bar ul li a:hover{
        color:#22367C;
        background-color:#CCC;
    }

    .quick_link_bar ul li a{
        color:#22367C;
    }

}
