/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.pagination
{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    padding:3px;
    border: 1px solid #BDDDFF;
}

.pagination>*:last-child,
.pagination>*:last-child:hover
{
    margin-right:0;
}

.pagination>span {
    cursor:default;
}

.pagination>*
{
    background: #FFFFFF;
    background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -webkit-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -moz-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -o-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -ms-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    -svg-background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #E0E0E0;
    padding:7px;
    margin:0 4px 0 auto;
    position:relative;
    display:inline-block;
    margin-left: 0;
}

.pagination a:link,
.pagination a:visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #696969
;
}

.pagination .active, .pagination .current, .pagination .disabled
{
    background: #EBF5FF;
    background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -webkit-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -moz-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -o-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -ms-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    -svg-background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    border:1px solid #99CBFA;
    padding:7px;
    margin:0 4px 0 auto;
    color: #003B75
;
}

.pagination .more
{
    background: #FFFFFF;
    background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -webkit-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -moz-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -o-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: -ms-linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    -svg-background: linear-gradient(top, #F5F5F5 0, #F5F5F5 50%, #F2F2F2 60%, #D6D6D6 100%) no-repeat;
    border:1px solid #E0E0E0;
    margin:0 4px 0 auto;
}
.pagination a.more:link,
.pagination a.more:visited
{
    color: #878787
;
}
.pagination a:hover
{
    background: #EBF5FF;
    background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -webkit-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -moz-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -o-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: -ms-linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    -svg-background: linear-gradient(top, #EBF5FF 0, #EBF5FF 50%, #E5F2FF 60%, #ADD6FF 100%) no-repeat;
    border:1px solid #99CBFA;
    padding:7px;
    margin:0 4px 0 auto;
}
.pagination  a:hover,
.pagination  a.more:hover
{
    color: #003B75
;
}
.pagination>*:after
{
    margin:0 0 0 auto;
    display:inline-block;
    position:absolute;
    content: ' ';
    top:0;
    width:0;
    height:100%;
    right: 0;
    text-decoration:none;
}

.pagination>*:last-child:after{
    display:none;
}

