// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.companylistitem {
  /*background: none repeat scroll 0px 0px #F0FAFF;*/
  margin:10px 0;
  float:left;
  border:1px dashed #6FB6F8;
  padding:10px;
  width:450px;
  float:left;
  margin-left:5px;
  margin-bottom:5px;
  font-size:13px;
}

.companylistitem:hover{
  background: none repeat scroll 0px 0px #F0FAFF;
}

.companylistitem a{
  text-decoration: none;
}

.companylistitem .name a{
  color:#0000FF;
}

.companylistitem .info{
  margin:5px 0px;
  font-size:12px;
  height:54px;
}

.companylistitem .about,.companylistitem .offers,.companylistitem .business{
   font-size:16px;
   padding:4px;
}

.companylistitem .about img,.companylistitem .offers img,.companylistitem .business img{
  height:20px;
  float: left;
  margin-right:5px;
}


.companylistitem .contact p {
  margin-top:5px;
}

.companylistitem .contact .address{
   margin-bottom: 10px;
   height: 32px;
}

.companylistitem .contact .phone,.companylistitem .contact .fax,.companylistitem .contact .email{
   float: left;
   width:400px;
}

.companylistitem .contact .phone img,.companylistitem .contact .fax img,,.companylistitem .contact .email img{
  float: left;
  height: 24px;
  margin-right: 5px;
}
