// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company_list {
  /*background: none repeat scroll 0px 0px #F0FAFF;*/
  margin:10px 0;
  float:left;
  border:1px dashed #6FB6F8;
  padding:10px;
  width:450px;
  float:left;
  margin-left:5px;
  margin-bottom:5px;
  font-size:13px;
}
#companies_list{
  border: solid 1px #000000;
}
.company_list:hover{
  background: none repeat scroll 0px 0px #F0FAFF;
}

.company_list a{
  text-decoration: none;
}

.company_list .name a{
  color:#0000FF;
}

.company_list .info{
  margin:5px 0px;
  font-size:12px;
  height:54px;
}

.company_list .about,.company_list .offers,.company_list .business{
   font-size:16px;
   padding:4px;
}

.company_list .about img,.company_list .offers img,.company_list .business img{
  height:20px;
  float: left;
  margin-right:5px;
}


.company_list .contact p {
  margin-top:5px;
}

.company_list .contact .address{
   margin-bottom: 10px;
   height: 32px;
}

.company_list .contact .phone,.company_list .contact .fax,.company_list .contact .email{
   float: left;
   width:400px;
}

.company_list .contact .phone img,.company_list .contact .fax img,,.company_list .contact .email img{
  float: left;
  height: 24px;
  margin-right: 5px;
}
