// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sda_box {
  //height: 200px;
  width: 35%;

  float: left;
  border: 2px #22367C solid;

}

.top-bar-text{

}

.top-bar-text a:hover{
  background-color: #22367C;
  color: #A8DBEB;
}

.sda-btn{
//  width: 100px;
  font-weight: 100;
  font-size: small;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-overflow: clip;
  text-wrap: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
}

.sda-cat-btn{
  //  width: 100px;
  font-weight: 100;
  font-size: small;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-overflow: clip;
  text-wrap: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.sda_box_header {
  font-weight: bold;
  border: 2px #22367C solid;

  font-size: smaller;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: white;
  background-color: #22367C;
  width: 35%;
  text-overflow: clip;
}

.sda_box_content {

  font-weight: bold;
  font-size: small;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;

//  text-decoration: underline;
  color: #22367C;
  background-color: white;
  text-overflow: clip;
  padding: 10px;
}

.sda-link {
  background: none repeat scroll 0 0 #D3D3D3;
  color: #000000;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-family: Arial;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0px auto;
  list-style: none outside none;
  padding: 0;
  text-align: center;
  max-width: 70%;
}


