// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#social_box {
  clear: both;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.top-menu {
  vertical-align: bottom;
  margin-top: -28px;
  color: white;
}

.top-menu-inner {
  height: 16px;
  padding: 2px 0;
  width: 1020px;
  text-align: left;
}

.top-menu a {
  text-decoration: none;
  color: white;
}

.top-menu .section {
  padding-top: 6px;
  float: left;
  margin-left: 20px;
}

.search_bar {
  height: 52px;
  width: 459px;
  background-image: url("/images/bizlocator-search.png");
  background-repeat: no-repeat;
  text-align: left;
  margin: 0px;
  padding: 8px 0 0 5px;
}

.search_bar input {
  width: 340px;
  height: 32px;

}

.search_bar a div {
  line-height: 34px;
  width: 94px;
  float: right;
  margin-right: 15px;
}

.submenu {
  background-image: url("/images/grey-header-image.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 1020px;
  text-align: center;
  font-weight: normal ;
  padding-top: 8px;
}

.submenu span{
  margin:20px;
}

.submenu a{
  color: #003B75;
  text-decoration:none;
  font-weight: normal ;
}

.submenu a:hover{
  color: #FF9009;
  text-decoration:none;
  font-weight: normal ;
}

.user-home-menu{
  border-top:1px solid;
  border-bottom:1px solid;
  padding:4px;
}

.user-home-menu a{
   text-decoration:none;
   margin: 0 5px;
}

.user_dashboard, .user_companies, .user_ads, .user_business_items, .user_jobs {
  border:1px solid #7FBDF8;
  margin:20px 0;
  padding:10px;

}

.user_companies a, .user_ads a, .user_business_items a, .user_jobs a{
  text-decoration:none;
}