<div id="templatemo_footer_wrapper">
  <div id="footer_top"></div>

  <div id="templatemo_footer">

    <div class="col_w220">
      <h5>Follow Us</h5>
      <p>Curabitur enim tellus, iaculis at imperdiet eget, pretium sit amet purus. Nullam eleifend ultricies consequat.</p>

      <ul id="social_box">
        <li><a href="#"><img src="/images/facebook.png" alt="Facebook" /></a></li>
        <li><a href="#"><img src="/images/twitter.png" alt="Twitter" /></a></li>
        <li><a href="#"><img src="/images/linkedin.png" alt="Linkedin" /></a></li>
        <li><a href="#"><img src="/images/technorati.png" alt="Technorati" /></a></li>
        <li><a href="#"><img src="/images/myspace.png" alt="Myspace" /></a></li>
      </ul>

    </div>

    <div class="col_w220">
      <h5>Our Pages</h5>
      <ul class="tmo_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

    </div>

    <div class="col_w220">
      <h5>Partners</h5>
      <ul class="tmo_list">
        <li><a href="http://www.templatemo.com">Free CSS Templates</a></li>
        <li><a href="http://www.koflash.com">Websites Gallery</a></li>
        <li><a href="http://www.flashmo.com/store">Premiun Templates</a></li>
        <li><a href="http://www.templatemo.com/page/1">Website Layouts</a></li>
        <li><a href="http://www.flashmo.com">Flash Templates</a></li>
      </ul>

    </div>

    <div class="col_w220 col_last">
      <h5>Links</h5>
      <ul class="tmo_list">
        <li><a href="#">Aenean rhoncus leo ut eros</a></li>
        <li><a href="#">Consectetur adipiscing elit</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Pellentesque vel est ut leo</a></li>
        <li><a href="#">Sed fringilla sollicitudin nisi</a></li>
      </ul>

    </div>

    <div class="cleaner"></div>
  </div> <!-- end of footer -->

  <div id="templatemo_copyright">

    Copyright © 2048 <a href="#">Your Company Name</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>

  </div>
</div>

<!--div class="art-footer" style="border-top:2px solid #3D90DD">
  <div class="art-footer-t"></div>
  <div class="art-footer-body">
    <div class="art-footer-center">
      <div class="art-footer-wrapper">
        <div class="art-footer-text">

          <table>
            <tr>
              <td width="200px" style="vertical-align: top;">
                <h5 style="text-align:left;"><span style="font-size:18px;">Company Info<br /></span></h5>
                <ul>
                  <li><br /><a href="#">Meet the Team</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy</a></li>
                </ul>
              </td>
              <td width="200px" style="vertical-align: top;">
                <h5><span style="font-size:18px;">Business Services</span></h5>
                <ul>
                  <li><br /><a href="#">Get Featured</a></li>
                  <li><a href="#">Suggest a Business</a></li>
                  <li><a href="#">Why TeamBuy?</a></li>
                  <li><a href="#">Affiliate Program</a></li>
                </ul>
              </td>
              <td width="200px" style="vertical-align: top;">
                <h5><span style="font-size:18px;">Special Deals</span></h5>
                <ul>
                  <li><br /><a href="#">Lowest Price</a></li>
                  <li><a href="#">Suggest a Business</a></li>
                  <li><a href="#">Why TeamBuy?</a></li>
                  <li><a href="#">Affiliate Program</a></li>
                </ul>
              </td>
              <td width="400px" style="vertical-align: top;">
                <% if request.path == '/quicklinks' %>

                    <table style="border:1px dashed;padding: 5px;background-color: #479CE8;float: right" >
                      <tr>
                        <td width="250px" style="border-right:1px dashed white;">Calander Directory <br/>Winning Numbers December 1-7</td>
                        <td width="170px" style="padding-left:10px">1234567 -  8765467  <br/>8734908 - 2374938</td>
                      </tr>
                      <tr><td colspan="2" align="center">
                        <a style="text-decoration: none;font-size: 14px;color:white;" href="">Print</a> <a style="color:white;">|</a>
                        <a  style="text-decoration: none;font-size: 14px;color:white;" href="">Email</a> <a style="color:white;">|</a>
                        <a style="text-decoration: none;font-size: 14px;color:white;"  href="">Rewards Calender</a>
                      </td></tr>
                    </table>

                <% end %>
              </td>
            </tr>
          </table>

          <p>Copyright © 2012. All Rights Reserved. bizlocator.com</p>
          <p>Designed and Developed by <a href="http://www.haatopia.com">www.haatopia.com</a></p>


          <div class="cleared"></div>
          <p class="art-page-footer"></p>
        </div>
      </div>
    </div>
    <div class="cleared"></div>
  </div>
</div-->