<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="jquery.fittext.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("body").fitText();
    });
</script>
<div class="row" style="margin: 0px">
  <!-- Application Header -->
  <div class="row" style="background-color: #ffffff; height:24px; margin: 0px">
    <%= render :partial => "common/top_bar" %>
  </div>

  <div class="row" style="background: #A8DBEB; margin: 0px ">    <!--#55BAD8-->
    <div class="span9" style="margin: 0px; width: 77%">
      <div class="row"
            style="margin: 0px">
        <div class="span4" style="margin: 0px;">
          <img src="/images/NEW_LOGO_1AA.jpg"
               style="height: 94px; ">
        </div>
        <div class="span5 main_search" style="margin: 0px">
          <%= text_field_tag :search,
                             params[:search],
                             :class => "search_text_field"
          %>
          <input type="submit"
                 class="search_button"
                 value="Find"/>
        </div>
      </div>
      <div class="row"
           style="position: relative;
           margin: 0px; width: 104%">
        <%= render :partial => "common/navigator_main" %>
      </div>
    </div>
    <div class="span3 pull-right" style="margin: 0px; width: 23%">
      <img src="/images/dummy-ad.png" style="width:280px;height: 116px; display: inline">
    </div>
  </div>
  <div class="row" style="margin: 0px">
    <%= render :partial => "common/navigator_sub" %>
  </div>
</div>
