<div class="row">
  <!-- Application Header -->
  <div class="row" style="background-color: #ffffff; height:24px">
    <%= render :partial => "common/top_bar" %>
  </div>
  <div class="row" style="background: #A8DBEB ">    <!--#55BAD8-->
    <div class="span9">
      <div class="row" >
      <div class="span3" style="margin: 0px;">
        <img src="/images/NEW_LOGO_1AA.jpg" style="height: 92px; ">
      </div>
      <div class="span4" style="margin-top:10px;margin-bottom:10px; position: relative;left: 80px ">
        <table style="border:0px">
          <tr>
            <td style="padding-top: 6px"><%= text_field_tag :search, params[:search], :class => "search_text_field", :style=> "width:260px" %></td>
            <td style="padding-bottom: 6px">
              <input type="submit"
                     style="background-color: #22367C;
                             color: #ffffff;
                             border: none;
                             border-radius: 6px ;
                             height: 30px;
                             width: 60px" value="Find"/></td>
          </tr>
        </table>
      </div>
    </div>
      <div class="row" style="position: relative;">
      <%= render :partial => "common/navigator_main" %>
    </div>
    </div>
    <div class="span3 pull-right">
      <img src="/images/dummy-ad.png" style="width:280px;height: 116px; display: inline" >
    </div>
  </div>
  <div class="row">
    <%= render :partial => "common/navigator_sub" %>
  </div>
</div>
