<div class="art-header">
  <div class="art-header-clip">
    <div class="art-header-center">
      <div class="art-header-jpeg"></div>
    </div>
  </div>
  <div class="art-header-wrapper">
    <div class="art-header-inner">
      <div class="art-headerobject"></div>
      <div class="art-logo">
      </div>
    </div>
  </div>
</div>
<div class="cleared reset-box"></div>


<div class="art-nav">
  <div class="art-nav-l"></div>
  <div class="art-nav-r"></div>
  <div class="art-nav-outer">
    <div class="art-nav-wrapper">
      <div class="art-nav-inner">
        <ul class="art-hmenu">
          <li>
            <a href="./home.html" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
          </li>
          <li>
            <a href="./contact-us.html"><span class="l"></span><span class="r"></span><span class="t">Contact Us</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="cleared reset-box"></div>