<script>
    $(document).ready(function () {

        $("#header-search-button").click(function () {
            $("#header-search-form").submit();
        });

        $("#header-search-form").submit(function () {

            var keyword = $('input[name="adsearch"]').val();
            if (keyword == 'Business Name / Category / Keyword') {
                alert("Please Business Name / Category / Keyword.");
                return false;
            } else {
                return true;
            }


        });

        $("#adsearch").blur(function () {
            if (this.value == '') this.value = 'Business Name / Category / Keyword';
        });

        $("#adsearch").focus(function () {
            if (this.value == 'Business Name / Category / Keyword') this.value = '';
        });


    });
</script>





<header class="art-header">


  <div class="art-shapes">

  </div>

  <div class="top-menu">
    <table style="width:100%">
      <tr>
        <td></td>
        <td class="top-menu-inner">

          <div style="float:left;">
            <ul id="social_box">

              <li><a href="#"><img src="/images/facebook.png" alt="Facebook"/></a></li>
              <li><a href="#"><img src="/images/twitter.png" alt="Twitter"/></a></li>
              <li><a href="#"><img src="/images/linkedin.png" alt="Linkedin"/></a></li>
              <li><a href="#"><img src="/images/technorati.png" alt="Technorati"/></a></li>
              <li><a href="#"><img src="/images/myspace.png" alt="Myspace"/></a></li>
            </ul>
          </div>

          <div class="section">
            Brampton <a href="#">Change City</a>
          </div>

          <div class="section">
            <a href="#">View More Categories</a>
          </div>

          <div class="section">
            <a href="#">More Search Options</a>
          </div>

          <div class="section" style="float:right;">
            <a href="#">Login</a> | <a href="#">Register</a>
          </div>

        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <table style="width:100%;margin-top: -15px;">
    <tr>
      <td></td>

      <td style="width:200px">
        <img src="/images/bizlocator-logo.png" height="90px">
      </td>

      <td style="width:509px">
        <a href="/ads/"><img src="/images/bizlocator-search.png" style="margin-left:10px;"></a>
      </td>

      <td style="width:181px">
        <img src="/images/dummy-ad.png" height=102px>
      </td>
      <td></td>
    </tr>
  </table>


</header>


