<% @items_per_list = 11 %>
<style>



</style>

<div class="quick_link_bar"
     style="padding: 5px;
        background-color: #EFF7FF;
        border:thin solid #22367C;
        /*width:280px;*/
        height:390px;
        position: relative;">

      <div class="row-fluid carousel-control-ql"
           style="border:thin solid #22367C;
                   width: 100%;
                   background-color:#22367C;
                   padding-bottom: 2px">
            <a href="#quickLinkCarousel" data-slide="prev"><img src="/images/left_arrow.png" alt="‹-"/></a>
                Quick Links
            <a href="#quickLinkCarousel" data-slide="next"><img src="/images/right_arrow.png" alt="-›"/></a>
      </div>

      <div id="quickLinkCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <%
             @xloopvar = 0
             @ad_categories = AdCategory.get_all_main_categories
             @ad_categories.each do |ad_category|
                 @xloopvar +=1
          %>
                  <% if ((@xloopvar -1) %@items_per_list )==0 %>
                      <div class="item <% if (@xloopvar == 1)  %>
                            active
                            <% end %>">
                        <div class="quick_link_bar">

                          <ul>
                    <% end %>
                        <li>
                          <%= link_to truncate(ad_category.name ,:length=>30), ads_path(:ad_category_id => ad_category.id) %>
                          </li>
                  <% if (@xloopvar%@items_per_list !=0)
                       next
                     else %>
                  </ul>
                  </div>                    <!--/quick_link bar-->
                  </div><!--/item-->
                  <%end
                    end%>
          <% if ((@xloopvar)%@items_per_list )!=0 %>
              </div><!--/row-fluid-->
              </div><!--/item-->
          <% end %>

          </div><!--/carousel-inner-->

  </div><!--/myCarousel-->

</div><!--/well-->
