<div class="quick_link_bar">
  <br/>
  <style>

      .carousel-control-ql{
          top: 5%;

      }
      .quick_link_bar{
          width:100%;
          float: none;
          list-style:none;
          color:#000000;
      }

      .quick_link_bar ul{
          width:100%;
          margin:0 auto 0 auto;
      }

      .quick_link_bar ul li {
          background-color:#D4E7F9;
          float:none;
          color:#000000;
          height:20px;
          list-style:none;
          display:block;
          text-align:center;
          font-size: 12px;
          margin-top: 10px;
          border: solid;
          border-width: 1px;
      }

      .quick_link_bar ul li:hover {
          background-color:#CCC;
      }

      .quick_link_bar ul li a:visited{
          color:#000000;
      }
  </style>

<!--/Slider-->
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 06b78e0eb1e7e502d0c19c03adbcbd7e2ee5839c
<% @items_per_list = 11 %>
<div class="container">
  <div class="span3">
    <div class="span12" style="padding: 5px; background-color: #EFF7FF; border-color: #000000; border-width: 0.5px; border:solid">
      <div class="row-fluid">
        <div class="span3 text-centered " style="border-style: solid; border-width:1px; width: 100%">
          <span class="secondary label offset2" style="text-align: center;background-color:transparent; color:#003871; font-size:large">
            <a class="left carousel-control-ql" href="#quickLinkCarousel" data-slide="prev"><img src="/images/left_arrow.png" height="22px" width="25px" alt="‹-"/></a>
                Quick Links
            <a class="right carousel-control-ql" href="#quickLinkCarousel" data-slide="next"><img src="/images/right_arrow.png" height="22px" width="25px" alt="-›"/></a>
<<<<<<< HEAD
=======
<% @items_per_list = 10 %>
<div class="container">
  <div class="span3">
    <div class="span12 quicklnk_box">
      <div class="row-fluid">
        <div class="span1 text-centered offset1">
          <span class="secondary label" style="text-align: center; color:#003871; font-family: Copperplate Gothic; font-size:large;background-color: transparent;">
            <a class="left carousel-control-ql" href="#quickLinkCarousel" data-slide="prev"><img src="/images/left_arrrow.png" style="width: 30px; height: 15px; background: transparent;" alt="‹-"/></a>
                Quick Links
            <a class="right carousel-control-ql" href="#quickLinkCarousel" data-slide="next"><img src="/images/right_arrow.png" style="width: 30px; height: 15px; background: transparent" alt="-›"/></a>
>>>>>>> master
=======
>>>>>>> 06b78e0eb1e7e502d0c19c03adbcbd7e2ee5839c
          </span>
        </div>
      </div>

      <div id="quickLinkCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <%
             @xloopvar = 0
             @ad_categories = AdCategory.get_all_main_categories
             @ad_categories.each do |ad_category|
                 @xloopvar +=1
          %>
                  <% if ((@xloopvar -1) %@items_per_list )==0 %>
                      <div class="item <% if (@xloopvar == 1)  %>
                            active
                            <% end %>">
                        <div class="quick_link_bar">

                          <ul>
                    <% end %>
                        <li>
<<<<<<< HEAD
<<<<<<< HEAD
                          <%= link_to truncate(ad_category.name ,:length=>30), ads_path(:ad_category_id => ad_category.id) %>
=======
                          <%= link_to truncate(ad_category.name, :length => 20) , ads_path(:ad_category_id => ad_category.id) %>
>>>>>>> master
=======
                          <%= link_to truncate(ad_category.name ,:length=>30), ads_path(:ad_category_id => ad_category.id) %>
>>>>>>> 06b78e0eb1e7e502d0c19c03adbcbd7e2ee5839c
                          </li>
                  <% if (@xloopvar%@items_per_list !=0)
                       next
                     else %>
                  </ul>
                  </div>                    <!--/quick_link bar-->
                  </div><!--/item-->
                  <%end
                    end%>
          <% if ((@xloopvar)%@items_per_list )!=0 %>
              </div><!--/row-fluid-->
              </div><!--/item-->
          <% end %>

          </div><!--/carousel-inner-->

  </div><!--/myCarousel-->

</div><!--/well-->
</div>
</div>
</div>
