<style>
    /* custom inclusion of right, left and below tabs */

    .tabs-below > .nav-tabs,
    .tabs-right > .nav-tabs,
    .tabs-left > .nav-tabs {
        border-bottom: 0;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: none;
    }

    .tab-content > .active,
    .pill-content > .active {
        display: block;
    }

    .tabs-below > .nav-tabs {
        border-top: 1px solid #ddd;
    }

    .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

    .tabs-below > .nav-tabs > li > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .tabs-below > .nav-tabs > li > a:hover,
    .tabs-below > .nav-tabs > li > a:focus {
        border-top-color: #ddd;
        border-bottom-color: transparent;
    }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
    }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
        float: none;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

    .tabs-left > .nav-tabs {
        float: left;
        margin-right: 19px;
        border-right: 1px solid #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-left > .nav-tabs > li > a:focus {
        border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

    .tabs-right > .nav-tabs {
        float: right;
        margin-left: 19px;
        border-left: 1px solid #ddd;
    }

    .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

    .tabs-right > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
    }

</style>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Please register</h3>
</div>
<div class="modal-body">
  <div class="col-md-6">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#tab1" data-toggle="tab">Business Sign Up</a></li>
        <li><a href="#tab2" data-toggle="tab">Benefits</a></li>
        <li><a href="#tab3" data-toggle="tab">Online Advt</a></li>
        <li><a href="#tab4" data-toggle="tab">Online Advt</a></li>
        <li><a href="#tab5" data-toggle="tab">Terms & Conditions</a></li>
        <li><a href="#tab6" data-toggle="tab">About Us</a></li>
        <li><a href="#tab7" data-toggle="tab">Quick View</a></li>
        <li><a href="#tab8" data-toggle="tab">Online Advt</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render :partial => "common/register_form_contents",:locals => {:f=> f}  %>
        </div>
        <div class="tab-pane fade" id="tab2">
          Tab 2 content
        </div>
        <div class="tab-pane fade" id="tab3">
          Tab 3 content
        </div>
        <div class="tab-pane fade" id="tab4">
          Tab 4 content
        </div>
        <div class="tab-pane fade" id="tab5">
          Tab 5 content
        </div>
        <div class="tab-pane fade" id="tab6">
          Tab 6 content
        </div>
        <div class="tab-pane fade" id="tab7">
          Tab 7 content
        </div>
        <div class="tab-pane fade" id="tab8">
          Tab 8 content
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button type="submit" class="btn btn-primary">Register</button>
</div>