<div class="row" style="background-color:#D4E7F9; float: left">
  <div class="span9">
  </div>
  <div class="span3">
      <img src="/images/dummy-ad.png" style="width:280px;height: 116px; display: inline" >
  </div>
</div>

