<div class="row" style="margin: 0px; border: 1px solid #000000">
<!-- Business Page Left side-->
  <div class="span6" style="margin: 0px; border: 1px solid #000000;width:50%">
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      Business Logo
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%">
        Picture
      </div>
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%">
        Business Main Ad
      </div>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      IN MALL ORDER ONLINE
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      SLIDER BUTTONS
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <span style="line-height: 10px; height: 10px">&nbsp;</span>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      Sales and Days Left
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <span style="line-height: 10px; height: 10px">&nbsp;</span>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      Save Share and Notify
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <span style="line-height: 10px; height: 10px">&nbsp;</span>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      Map Directions Distance
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <span style="line-height: 30px; height: 30px">&nbsp;</span>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%">
            Business Info
      </div>
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%">
            Business Links
      </div>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%; height: 130px">
        About US ...
      </div>
      <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%; height: 130px">
        Order Online
      </div>
    </div>

  </div>
  <!-- Business Page Left side End-->

  <!-- Business Page Right side-->
  <div class="span6" style="margin: 0px ; border: 1px solid #000000;width:50%">
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="span9" style="margin: 0px ; border: 1px solid #000000;width:50%">
        INPUT
      </div>
      <div class="span3" style="margin: 0px ; border: 1px solid #000000;width:50%">
        Back TO Search
      </div>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <span style="line-height: 10px; height: 10px">&nbsp;</span>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:18%">
        Sales Deals
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:6%">
        8
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:12%">
        Coupons
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:6%">
        2
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:10%">
        Flyers
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:6%">
        5
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:15%">
        Group Buy
      </div>
      <div class="span1" style="margin: 0px ; border: 1px solid #000000;width:6%">
        2
      </div>
    </div>
    <div class="row" style="margin: 0px; border: 1px solid #000000">
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <span style="line-height: 30px; height: 30px">Sales/ Deals</span>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad1
        </div>
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad1 Content
        </div>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <span style="line-height: 30px; height: 30px">Sales/ Deals</span>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad2
        </div>
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad2 Content
        </div>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <span style="line-height: 30px; height: 30px">Sales/ Deals</span>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad3
        </div>
        <div class="span6" style="margin: 0px ; border: 1px solid #000000;">
          Ad3 Content
        </div>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000">
        <span style="line-height: 30px; height: 30px">Sales/ Deals</span>
      </div>
      <div class="row" style="margin: 0px; border: 1px solid #000000; height: 50px">
        SLIDER BUTTONS
      </div>
    </div>

  </div>
  <!-- Business Page Right side End-->
</div>
