
  <div class="art-layout-wrapper">
    <div class="art-content-layout">
      <div class="art-content-layout-row">

        <div class="art-layout-cell art-content">
          <article class="art-post art-article">
            <!--Start : add left menu here -->
            <%= render :partial => "ads/ad_slider_dynamic", :locals => {:adcount => "4"} %>
            <!--End : add left menu here -->
          </article>
        </div>

        <!-- Start: header -->
        <%= render "/common/quicklink" %>
        <!-- End: header -->

        <!-- Start: footer -->
        <!--%= render "/common/right" %-->
        <!-- End: footer -->


      </div>
    </div>
  </div>
