<div class="row-fluid">
  <div class="span9">
    <div class="panel" style="background: none; border: none">
      <%= render :partial => "ads/ad_slider_dynamic_Carousel", :locals => {:adcount => "4"} %>
    </div>
  </div>
  <div class="span3">
    <div class="panel" style="background: none; border: none">
        <%= render "/common/quicklink" %>
    </div>
  </div>
</div>
