<div class="row-fluid " style="margin: 0px ">
  <div class=" sda_box" style="margin: 0px; width: 28.8%; ">
    <div class="row-fluid sda_box_header" style="margin: 0px" >
      View All sections
    </div>
    <div class="row-fluid sda_box_content" style="margin: 0px; padding-top: 0px; padding-right: 0px; width: 280px;" >
      <div class="row-fluid">
        <button type="button" class="btn btn-default sda-btn">Sales/Deals</button>
        <button type="button" class="btn btn-default sda-btn">Flyers</button>
      </div>
      <div class="row-fluid">
        <div class="row-fluid">
          <button type="button" class="btn btn-default sda-btn">Coupons</button>
          <button type="button" class="btn btn-default sda-btn">Group Buys</button>
        </div>

      </div>
      <div class="row-fluid">
        <div class="row-fluid">
          <button type="button" class="btn btn-default sda-btn">Shop Online</button>
          <button type="button" class="btn btn-default sda-btn">Store Search</button>
        </div>
      </div>

    </div>
    <div class="row-fluid" style="border-top : 2px #22367C solid">
      <span style="font-weight: bold; font-size: x-small"> Look for <span style="color: green">Cash Back </span>: To Buy in store or shop online</span>
    </div>
  </div>
  <div class=" sda_box" style="margin: 0px ;">
    <div class="row-fluid sda_box_header" style="margin: 0px" >
        Sales - Deals - Flyers - Group Buys - Shop Online - Cash Back
    </div>
    <div class="row-fluid sda_box_content" style="margin-left: -2px" >
      <div>
        View All Ads
      </div>
    </div>
  </div>
  <div class=" sda_box" style="margin: 0px; border-right: 2px #22367C solid; ">

    <div class="row-fluid sda_box_header" style="margin: 0px" >
      Sales - Deals - Flyers - Group Buys - Shop Online - Cash Back
    </div>
    <div class="row-fluid sda_box_content" style="margin: 0px" >
      <div>
        View All Categories
      </div>
    </div>
  </div>
</div>
<div class="row-fluid " style="margin-top: 0px">
  <div class="row-fluid" style="margin: 3px">
    <div class="sda_box" style="margin: 0px ; width: 28.8%">
      <div class="row-fluid sda_box_header" style="margin: 0px" >
        Agggreegation Points
      </div>
      <div class="row-fluid sda_box_content" style="margin: 0px" >
        Buttons
      </div>
    </div>
    <div class="sda_box" style="margin: 0px ; width: 70% ; border-right: 2px #22367C solid; ">
      <div class="row-fluid sda_box_header" style="margin: 0px" >
        Agggreegation Categories
      </div>
      <div class="row-fluid sda_box_content" style="margin: 0px ; " >
        Buttons
      </div>
    </div>
  </div>

</div>
