AAA
<script type="text/javascript">
    var map;
    $(document).ready(function(){
        map = new GMaps({
            el: '#mall_location1',
            lat: -12.043333,
            lng: -77.028333,
            zoomControl : true,
            zoomControlOpt: {
                style : 'SMALL',
                position: 'TOP_LEFT'
            },
            panControl : false,
            streetViewControl : false,
            mapTypeControl: false,
            overviewMapControl: false
        });
    });
</script>

<div class="span6" id="mall_location1"
     style="height: 400px; width: 600px">
</div>